#footer {
    margin: 0;
    padding: 38px;
    padding-bottom: 0!important;
    background: rgb(51, 49, 53);
    color: rgba(242, 245, 241, 0.795)!important;
}

.email {
    align-content: center;
    align-self: center;

}